.box{
    background-color: blue;
    padding: 10px;
}
p{
    color:yellow;
    margin:0;
    padding:0;
}
div[id="outer-box"]{
    border: 5px solid maroon;
}
div[class="box inner-box"]{
    background-color: red;
}

p[class="white-text"]{
    color:white;
}